*{
    font-family: "Montserrat", sans-serif;
}
*:before,
*:after {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

#bodyCreditos {
    margin: 0;
}

#headerCreditos {
    background-color: #d3b386;
    margin: 0;
    width: 100%;
    height: 250px;
}

#Logos {
    display: flex;
    height: 250px;
}

#Nav {
    margin-top: -80px;
    margin-left: 200px;
    height: 80px;
    padding-top: 10px;
}

#tittleDashboard{
    width: 250px;
    height: 60px;
    position: relative;
    left: 100px;
    top: 20px;

}

#tittleDashboard h1{
    color: #804e23;
}

#Cl{
    width: 1200px;
    background-color: #804e23;
    position: relative;
    top: 50px;
    left: 49px;
    /* display: block;
    max-height: 500px;
    overflow-y: auto; */


}

#Cl td, #TableVen td{

    text-align: center;
    color: #f7f7f7;
    padding: 10px;
    border: 2px solid #f7f7f7;

    
}

#Cl img, #TableVen img{

    width: 50px;
    height: 50px;
}

#tablaUsers{
    position: relative;
    left: 100px;
    top: 100px;
    width: 1300px;
    background-color: #804e23;
    border-radius: 20px;
    height: 600px;
    min-height: 300px;
}

.form-inline {
    margin-left: 352px;
    padding-top: 80px;
    height: 150px;
}

.perfil {
    position: relative;
    left: 1600px;
    bottom: 15px;
    width: 50px;
}

/* contenido */

section {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 83vh;
    flex: wrap;
    background-color: beige;
}

.contenedorprincipal {
    display: flex;
}

.menu {
    background-color: #804e23;
    color: white;
    width: 400px;
    min-height: 100vh;
    height: auto;
}

.correo {
    margin-left: 10px;
}

.imagen1 img {
    position: relative;
    right: 20px;
    bottom: 10px;
    width: 180px;
}

.subtitulomenu {
    text-align: center;
}

.subtitulomenu a{
    color: white;
    text-decoration: none;
}

.imagenusuarios img {
    width: 80px;
}

.usuariossubtitulo {
    position: relative;
    left: 100px;
    bottom: 50px;
}

.usuariossubtitulo a{
    color: white;
    text-decoration: none;
}

.imagenproductos img {
    width: 80px;
}

.productossubtitulo {
    position: relative;
    left: 100px;
    bottom: 50px;
    font-size: 3ex;
}

.productossubtitulo a{
    color: white;
    text-decoration: none;
}

.imagencreditos img {
    width: 80px;
}

.creditossubtitulo {
    position: relative;
    left: 100px;
    bottom: 50px;
}

.creditossubtitulo a{
    color: white;
    text-decoration: none;
}

.imagenventas img {
    width: 90px;
}

.ventassubtitulo {
    position: relative;
    left: 100px;
    bottom: 50px;
}

.ventassubtitulo a{
    color: white;
    text-decoration: none;
}

.titulotabla {
    position: relative;
    left: 92px;
    top: 20px;
    color: #804e23;
    font-weight: bold;
}

.contenedorusuarios {
    font-weight: bold;
    position: relative;
    left: 90px;
    top: 25px;
    width: 1300px;
    height: 790px;
    background-color: #804e23;
}

.tablausuarios {
    width: 105%;
    margin: 0px 20px;
    color: white;
    text-align: left;
}

th,
td {
    padding: 15px;
}

.ojo{
    width: 30px;
}

.ojo1{
    position: relative;
    left: 1250px;
    bottom: 255px;
}

.nav_link {
    color: #f9f7dc;
    display: block;
    padding: 20px 0;
    text-decoration: none;
}

.nav_link--inside:hover {
    background: #906a48;
}

.nav_link--inside {
    border-radius: 6px;
    padding-left: 15px;
    font-size: 12px;
}

.lista_item {
    list-style: none;
    width: 100%;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
}

.lista_item--click {
    cursor: pointer;
}

.lista_button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.lista_flecha {
    margin-left: auto;
    transition: transform 0.3s;
}

.flecha .lista_flecha {
    transform: rotate(90deg);
}

.lista_show {
    width: 80%;
    list-style: none;
    margin-left: auto;
    border-left: 2px solid #906a48;
    transition: height 0.4s;
    height: 0;
}

.lista_img{
    width: 80px;
    position: relative;
}


/* pie de página  */

footer {
    background-color: #d3b386;
    align-self: flex-end;
    width: 100%;
    height: 130px;
    text-align: center;
}

.contactos {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: serif;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #d3b386;
    opacity: 0.9;
}

/* Animacion */

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.paginacion {
    position: absolute;
    right: 400px;
    bottom: -120px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}



.Flechas {
    width: 120px;
}