*{
    font-family: "Montserrat", sans-serif;
}
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: white;
}

                                                    /* FORMULARIO DE INICIO */
.Registro h3 a {
    text-decoration: none;
    color: #804e23;
}

.Registro h3 a {
    position: relative;
    text-decoration: none;
    color: #804e23;
    top: 10px;
}


.cabecera a{

    margin-left: 60px;
}


.formularioInicio{

    position: relative;
    padding-top: 20px;
    border-radius: 20px;
    width: 920px;
    height: 100vh;
    background-color: beige;
}

.formularioInicio form{

    width: 500px;
    position: relative;
    left: 250px;
    top: 200px;
}

.formularioInicio form a{

    text-decoration: none;
    color: #804e23;
}


.formularioInicio form button{

    border: none;
    width: 300px;
    height: 50px;
    background-color: #804e23;
    color: white;
    border-radius: 20px;

}

.formularioInicio form button:hover{

    transform: scale(1.2);
    transition: 1s;
}

.formularioInicio #volverInicio{

    position: relative;
    top: 400px;
    left: 700px;
    text-decoration: none;
    color: #804e23;
}
section img,#Form1 img{

    width: 1000px;
    position: relative;
    height: 100vh;
}

section{
    width: 100%;
    height: 100vh;
    color: #804e23;
    display: flex;

}

#formularioRegistro{
    height: 100vh;
    width: 920px;
    background-color: bisque;
}

#Form1{
    display: flex;
    height: 400px;
    width: 100%;
    border-radius: 20px;
}

#Form1 form{

    height: 820px;
    width: 500px;
    position: relative;
    left: 200px;
    top: 100px;
    color: #804e23;  
    
}

#Form1 form span, .formularioInicio form span{

    background-color:#d3b386;
    color: #804e23;
    
}


#Form1 form button{

    background-color: #804e23;
    border: none;
    width: 200px;
    height: 50px;
    position: relative;
    border-radius: 20px;
    color: white;    

}

#Form1 #volverInicio{

    position: relative;
    top: 100px;
    left: 700px;
    text-decoration: none;
    color: #804e23;
}



