* {
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bodyCreditos {
    margin: 0;
}


/* encabezado  */

#headerCreditos {
    background-color: #d3b386;
    margin: 0;
    width: 100%;
    height: 250px;
    position: fixed;
    z-index: 1;
}

#Logos {
    display: flex;
    height: 250px;
}

#Nav {
    margin-top: -80px;
    margin-left: 200px;
    height: 80px;
    padding-top: 10px;
}

.form-inline {
    margin-left: 352px;
    padding-top: 80px;
    height: 150px;
}

#Listas {
    display: flex;
    margin-bottom: -50px;
}

#Listas li {
    position: relative;
    letter-spacing: 0.5px;
    list-style: none;
    padding-left: 100px;
    margin-left: 150px;
    font-size: 19px;
    color: #804e23;
    margin-bottom: 10px;
    padding: 0 10px;
}

#Listas li:after {
    content: "";
    position: absolute;
    background-color: #804e23;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

#Listas li:hover:after {
    width: 100%;
}


/*navegacion */

body {
    background-color: #f9f7dc;
}

a .btn{
    background-color: #804e23;
    color: white;
    border-radius: 100px;
    width: 160px;
    height: 45px;
    font-size: 19px;
    margin-left: 150px;
    margin-top: -6px;

}

a {
    text-decoration: none;
    color: #804e23;
}



/* tablas */

.productosima{
    width: 100%;
    display: flex;
}
table {
    width: 1100px;
    height: auto;
    position: relative;
    left: 100px;
}

table td {
    padding: 20px;
    border-bottom: 1px solid #804e23;
    font-size: 20px;
    font-weight: 900;
    color: #804e23;
}

.img {
    width: 70px;
}

.deleteProd{

    background-color: #804e23;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 100px;

}

.deleteProd:hover{
    transform: scale(1.2);
    transition: 0.8s;
}

.confirmarCompra{

    position: relative;
    left: 250px;
    width: 414px;
    top: 150px;
}

.confirmarCompra h3{
    text-align: center;
    color: #804e23;
}

.confirmarCompra .continuarCompra{

    border: none;
    position: relative;
    left: 100px;
    width: 250px;
    height: 50px;
    background-color: #804e23;
    border-radius: 10px;
    color: #f9f7dc;
}

.confirmarCompra .continuarCompra:hover{

    transform: scale(1.2);
    transition: 0.8s;
}


/* pie de pagina */

footer {
    background-color: #d3b386;
    padding: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.footerContainer {
    height: 140px;
}

.contactos h1 {
    position: relative;
    bottom: 30px;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}


/* Animacion */

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.cabecera a:after {
    content: "";
    position: absolute;
    background-color: #804e23;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.cabecera a:hover:after {
    width: 100%;
}


